.image-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.item-title{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.discription{
    text-align: center;
}

.item-body{
    margin-top: 20px;
}
